# Node modules folder
node_modules/

# Build output
build/
dist/

# Environment variables file (contains sensitive data)
.env

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE or Editor specific files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous temporary files
temp/
